{% extends "projects/base.html" %}
{% block title %}Brands{% endblock %}

{% block content %}<h1>Brands</h1>
{% if brands_list %}
<table class="table table-striped table-sm">
    <thead>
    <tr>
        <th>Brand name</th>
        <th>Description</th>
    </tr>
    </thead>
    {% for brand in brands_list %}
    <tbody>
    <tr>
        <td>
            <h5>
                <a href="{{ brand.get_absolute_url }}">
                    {{ brand.name }}
                </a>
            </h5>
        </td>
        <td>
            {{ brand.descriptions }}
        </td>

    </tr>
    {% endfor %}

    </tbody>
</table>
{% endif %}
{% endblock %}