{% extends "projects/base.html" %}
{% block title %}Statuses{% endblock %}

{% block content %}
{% if statuses_list %}
<h1>Statuses</h1>
<a href="{% url 'projects:status_create' %}">Create new Status</a>
<table class="table table-striped table-sm">
    <thead>
    <tr>
        <th>Status name</th>
        <th>Description</th>
    </tr>
    </thead>
    {% for status in statuses_list %}
    <tbody>
    <tr>
        <td>
            <a href="{% url 'projects:status_update' status.slug%}">Update Status</a>
            <a href="{% url 'projects:status_delete' status.slug%}">Delete Status</a>
            <h5>
                {{ status.name }}
            </h5>
        </td>
        <td>
            {{ status.descriptions }}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>


{% endif %}
{% endblock %}