{% extends "projects/base.html" %}
{% block title %}Projects{% endblock %}

{% block content %}
    {% if projects_list %}
    <h1>Projects</h1>
<2><a href="{% url 'projects:project_create' %}">Create new Project</a>
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Project name</th>
                <th>Description</th>
                <th>Lead</th>
                <th>Header</th>
                <th>Header</th>
            </tr>
            </thead>
            {% for project in projects_list %}
                <tbody>
                <tr>
                    <td>
                        <h5>
                            <a href="{{ project.get_absolute_url }}">
                                {{ project.name }}
                            </a>
                        </h5>
                    </td>
                    <td>
                        {{ project.descriptions }}
                    </td>
                    <td>
                        <a href="{{ project.project_manager.get_full_name}}">
                            {{ project.project_manager.get_full_name }}
                        </a>
                    </td>
                    <td>project_status</td>
                    <td>sit</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    {% endif %}
{% endblock %}