{% extends "projects/base.html" %}
{% block title %}Statuses{% endblock %}

{% block content %}
{% if statuses_list %}
<h1>Statuses</h1>
<table class="table table-striped table-sm">
    <thead>
    <tr>
        <th>Status name</th>
        <th>Description</th>
    </tr>
    </thead>
    {% for status in statuses_list %}
    <tbody>
    <tr>
        <td>
            <h5>
                <a href="{{ status.get_absolute_url }}">
                    {{ status.name }}
                </a>
            </h5>
        </td>
        <td>
            {{ status.descriptions }}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}