{% extends "projects/base.html" %}
{% block title %}Tasks{% endblock %}

{% block content %}
{% if tasks_list %}
<h1>Tasks</h1>
<table class="table table-striped table-sm">
    <thead>
    <tr>
        <th>Task name</th>
        <th>Description</th>
        <th>Performer</th>
        <th>Header</th>
        <th>Project name</th>
        <th>Project lead</th>
    </tr>
    </thead>
    <tbody>
    {% for task in tasks_list %}
    <tr>
        <td>
            <h5>
                <a href="{{ task.get_absolute_url }}">
                    {{ task.name }}
                </a>
            </h5>
        </td>
        <td>
            {{ task.descriptions }}
        </td>
        <td>
            <a href="{{ task.performer.get_full_name}}">
                {{ task.performer.get_full_name }}
            </a>
        </td>
        <td>{{task.status}}</td>
        <td>
            <h5>
                <a href="{{ task.project.get_absolute_url }}">
                    {{ task.project }}
                </a>
            </h5>
        </td>
        <td>
            <h5>
                <a href="{{ task.project.manager.get_absolute_url }}">
                    {{ task.project.manager.get_full_name }}
                </a>
            </h5>
        </td>


    </tr>
    {% endfor %}

    </tbody>
</table>
{% endif %}
{% endblock %}