{% extends "projects/base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ task.project.name }}{% endblock %}
{% block content %}
{% if task %}
<h1>{{ task.name }}</h1>

<h5><a href="{% url 'projects:task_update' task.slug%}">Update Task</a></h5>
<h5><a href="{% url 'projects:task_delete' task.slug%}">Delete Task</a></h5>

<table class="table table-striped table-sm">
    <thead>
    <tr>
        <th>Task name</th>
        <th>Task status</th>
        <th>Task description</th>
        <th>Task lead</th>
        <th>Creation</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <a href="{{ task.project.get_absolute_url }}">
                {{ task.project.name }}
            </a>
        </td>
        <td>
            {{ task.status }}
        </td>
        <td>
            {{ task.descriptions }}
        </td>
        <td>
            {{ task.performer.get_full_name }}
        </td>
        <td>
            {{ task.creation_timestamp }}
        </td>
    </tr>

    </tbody>
</table>
Comments
<table class="table table-striped table-sm">
    <thead>
    <tr>
        <th>Author</th>
        <th>Date</th>
        <th>Text</th>
        <th>URLS</th>
    </tr>
    </thead>
    <tbody>
    {% for comment in task.comments.all %}
    <tr>
        <td>
            {{ comment.person.get_full_name }}
        </td>
        <td>
            {{ comment.creation_timestamp }}
        </td>
        <td>
            {{ comment.text }}
        </td>
        <td>
            {{ comment.url }}
        </td>
    </tr>
    {%empty%}
    </tbody>
</table>

<p>There are no comments yet.</p>

{% endfor %}

</tbody>
</table>

{% if new_comments %}
<h6>Your comments has been added.</h6>
{% endif %}
<form action="." method="post">
    {%csrf_token%}
    {{comment_form|crispy}}
    <input type="submit" value="Add comment">
</form>

{% endif %}


{% endblock %}